body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large;
  margin: 20px;
  text-align: initial; }

.dropfiles {
  text-align: center;
  position: relative;
  width: auto;
  height: 200px;
  border-width: 2px;
  border-color: #666666;
  border-style: dashed;
  border-radius: 5px; }
  .dropfiles p {
    margin: 80px 0; }

.tree-view-custom {
  padding-left: 60px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
